body {
  display: flex;
  justify-content: center;
  background-color: #20022c;
}

@font-face {
  font-family: Charles;
  src: url(./Fonts/CharlesElegant-Light.ttf);
}

.container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

/* Aici incepe stilizarea Cardului */
.section {
  width: 800px;
  height: 450px;
  background-color: #010048;
  /* border: 5px solid black; */
  border-radius: 4rem;
  box-shadow: 0 11px 29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.picture {
  display: flex;
  width: 160px;
  height: 160px;
  margin: 1rem;
  border-radius: 50%;
  background-image: url(./Pictures/DSC02647.JPG);
  background-position: right;
  background-size: cover;
}

.cardName {
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.cardName h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Charles;
  font-size: xxx-large;
  margin-right: 1rem;
}

.cardName p {
  font-family: "Cookie", cursive;
  font-size: medium;
  font-weight: 400;
}

.cardName b {
  color: rgb(60, 11, 153);
}
.btns {
  width: 10rem;
  height: 25rem;
  margin-left: 11px;
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;
  justify-content: flex-start;
  position: absolute;
}

.btns a {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: xx-large;
}

.btns i {
  display: inline-block;
  margin-right: 1rem;
}

.add {
  color: #b537f2;
  height: 3rem;
  border-radius: 0 10vh 10vh 0;
  margin: 5px 0;
  border: 1px solid #b537f2;
  box-shadow: 0 5px 10px black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.message {
  color: white;
  height: 3rem;
  background-color: #b537f2;
  border-radius: 0 10vh 10vh 0;
  margin: 5px 0;
  border: 1px solid #b537f2;
  box-shadow: 0 5px 10px black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.message i {
  margin-right: 3vh;
}
