body {
  background: linear-gradient(-45deg, #110273, #b16cdf, #1cc0cd);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@font-face {
  font-family: Flexible;
  src: url(./Fonts/Demo_Fonts/Fontspring-DEMO-flexible-h200w500.otf);
}

@font-face {
  font-family: Charles;
  src: url(./Fonts/CharlesElegant-Light.ttf);
}

p {
  width: 50vh;
  color: white;
  font-family: Charles;
  font-size: 33px;
  font-weight: 400;
}

.container {
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Aici incepe stilizarea Cardului */
.section {
  width: 800px;
  height: 450px;
  background-color: #010048;
  border-radius: 4rem;
  box-shadow: 0 11px 29px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
}

.picture {
  display: flex;
  width: 160px;
  height: 160px;
  margin: 1rem;
  border-radius: 50%;
  background-image: url(./Pictures/DSC02647.JPG);
  background-position: right;
  background-size: cover;
}

.cardName {
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.cardName h1 {
  height: 15px;
  color: white;
  font-family: Flexible;
  font-weight: 100;
  font-size: 6rem;
  margin-right: 3rem;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cardName h6 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
  color: white;
  font-size: medium;
}

.cardName b {
  color: rgb(184, 101, 223);
}

.skills {
  width: 33rem;
  border-top: 2px solid white;
}

.unset-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.unset-links a {
  width: 5rem;
  height: 3rem;
  text-decoration: none;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: x-large;
  font-weight: 600;
  color: white;
  border-radius: 10vh;
  margin: 10px;
  border: 1px solid #b537f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btns {
  width: 11rem;
  height: 23rem;
  margin-left: 11px;
  padding: 1rem;
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;
  justify-content: flex-start;
  position: absolute;
}

.btns button {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: xx-large;
}

.btns i {
  display: inline-block;
  margin-right: 1rem;
}

.add {
  color: #b537f2;
  height: 4rem;
  background-color: #010048;
  border-radius: 0 10vh 10vh 0;
  margin: 5px 0;
  border: 1px solid #b537f2;
  box-shadow: 0 5px 10px black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.message {
  color: white;
  height: 4rem;
  background-color: #b537f2;
  border-radius: 0 10vh 10vh 0;
  margin: 5px 0;
  border: 1px solid #b537f2;
  box-shadow: 0 5px 10px black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.message i {
  margin-right: 3vh;
}

.modal {
  width: 20rem;
  height: 20rem;
  border: 5px solid black;
  background-color: grey;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gg-instagram {
  display: flex;
}

.hidden {
  display: none;
}

